@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/NunitoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/NunitoSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
